In [8]:
import numpy as np
import pandas as pd

In [20]:
def convert_tick_to_ohlcv(data):
    """
    Converts given Binance tick data into 1-hour interval OHLCV (Open, High, Low, Close, Volume) data.
    :param data: DataFrame with Tick data
    :return: DataFrame with the Open, High, Low, Close, Volume values
    """

    data['time'] = pd.to_datetime(data['time'], unit='ms')
    ohlcv = data.resample('1H', on='time').agg({
        'price': ['first', 'max', 'min', 'last'],
        'qty': 'sum'
})

    ohlcv.columns = ['Open', 'High', 'Low', 'Close', 'Volume']
    return ohlcv

def calculate_volatility(data, window=20):
    """
    Calculate the rolling volatility using the standard deviation of returns.
    :param data: DataFrame with OHLCV data
    :param window: The number of periods to use for calculating the standard deviation
    :return: DataFrame with the volatility values
    """

    # Calculate daily returns
    data['returns'] = data['Close'].pct_change()

    # Calculate the rolling standard deviation of returns
    data['volatility'] = data['returns'].rolling(window=window).std()

    return data

In [12]:
data=pd.read_csv('C:\\Users\\Taewan\\Desktop\\final\\ohlcvdata\\df.csv')

In [14]:
data=data.iloc[:,1:];data

,time,Open,High,Low,Close,Volume,returns,volatility
0,2023-01-01 00:00:00,16537.5,16540.9,16504.0,16527.0,5381.399,NaN,NaN
1,2023-01-01 01:00:00,16527.1,16554.3,16524.1,16550.4,3210.826,0.001416,NaN
2,2023-01-01 02:00:00,16550.5,16557.1,16534.8,16542.4,2399.668,-0.000483,NaN
3,2023-01-01 03:00:00,16542.5,16542.5,16515.0,16529.3,3214.480,-0.000792,NaN
4,2023-01-01 04:00:00,16529.2,16530.4,16508.8,16517.8,3150.954,-0.000696,NaN
...,...,...,...,...,...,...,...,...
9403,2024-01-27 19:00:00,41785.0,41977.0,41775.1,41896.4,7765.565,0.002668,0.002019
9404,2024-01-27 20:00:00,41896.5,42070.0,41896.4,42049.6,5408.243,0.003657,0.002154
9405,2024-01-27 21:00:00,42049.6,42165.6,42001.8,42137.8,5859.277,0.002098,0.002189
9406,2024-01-27 22:00:00,42137.8,42187.1,42057.6,42135.3,5271.863,-0.000059,0.002191
9407,2024-01-27 23:00:00,42135.4,42156.7,42055.4,42102.2,4399.800,-0.000786,0.002200

In [15]:
#28일 data를 받았다고 가정하고 기존의 ohlcv에 추가하는 코드를 구성해 보겠습니다.
#samplejan28.csv는 ascend에서 제공받은 1월 24일 tickdata임을 밝힙니다. 
samp=pd.read_csv("C:\\Users\\Taewan\\Desktop\\final\\ohlcvdata\\samplejan28.csv")

In [18]:
samp.head()

           id    price    qty  quote_qty           time  is_buyer_maker
0  4523652721  39889.9  0.004   159.5596  1706054400021            True
1  4523652722  39890.0  0.008   319.1200  1706054400033           False
2  4523652723  39890.0  0.018   718.0200  1706054400036           False
3  4523652724  39890.0  0.003   119.6700  1706054400036           False
4  4523652725  39889.9  0.003   119.6697  1706054400043            True

In [21]:
ohlcv=convert_tick_to_ohlcv(samp)
add_data=calculate_volatility(ohlcv)

In [29]:
add_data['time']=list(ohlcv.index)

In [32]:
df=pd.concat([data,add_data],axis=0,ignore_index=True);df.tail(30)

,time,Open,High,Low,Close,Volume,returns,volatility
9402,2024-01-27 18:00:00,41769.4,41807.2,41727.0,41784.9,2437.998,0.000371,0.001974
9403,2024-01-27 19:00:00,41785.0,41977.0,41775.1,41896.4,7765.565,0.002668,0.002019
9404,2024-01-27 20:00:00,41896.5,42070.0,41896.4,42049.6,5408.243,0.003657,0.002154
9405,2024-01-27 21:00:00,42049.6,42165.6,42001.8,42137.8,5859.277,0.002098,0.002189
9406,2024-01-27 22:00:00,42137.8,42187.1,42057.6,42135.3,5271.863,-0.000059,0.002191
9407,2024-01-27 23:00:00,42135.4,42156.7,42055.4,42102.2,4399.800,-0.000786,0.002200
9408,2024-01-24 00:00:00,39889.9,40247.0,39779.0,40166.9,19825.964,NaN,NaN
9409,2024-01-24 01:00:00,40166.9,40166.9,39745.0,39763.2,13974.291,-0.010051,NaN
9410,2024-01-24 02:00:00,39763.2,39887.1,39689.0,39759.3,6511.111,-0.000098,NaN
9411,2024-01-24 03:00:00,39759.4,39790.7,39563.8,39611.2,9144.754,-0.003725,NaN
9412,2024-01-24 04:00:00,39611.3,39744.3,39550.0,39648.8,5997.376,0.000949,NaN
9413,2024-01-24 05:00:00,39648.7,39849.2,39648.6,39791.8,6545.594,0.003607,NaN
9414,2024-01-24 06:00:00,39791.7,39900.0,39656.3,39883.6,7231.814,0.002307,NaN
9415,2024-01-24 07:00:00,39883.5,40179.7,39810.1,39979.4,12199.270,0.002402,NaN
9416,2024-01-24 08:00:00,39979.5,40134.9,39844.7,39948.6,8718.022,-0.000770,NaN
9417,2024-01-24 09:00:00,39948.6,40094.6,39900.2,40015.6,6985.165,0.001677,NaN
9418,2024-01-24 10:00:00,40015.7,40560.6,39977.4,40346.0,21804.100,0.008257,NaN
9419,2024-01-24 11:00:00,40346.5,40364.4,40081.1,40195.2,11187.856,-0.003738,NaN
9420,2024-01-24 12:00:00,40195.1,40287.8,39962.8,40030.4,10975.845,-0.004100,NaN
9421,2024-01-24 13:00:00,40030.4,40111.3,39872.0,39976.2,11549.110,-0.001354,NaN
9422,2024-01-24 14:00:00,39976.2,40224.4,39754.4,39907.0,27125.932,-0.001731,NaN
9423,2024-01-24 15:00:00,39907.0,40116.6,39831.0,40046.7,12480.015,0.003501,NaN
9424,2024-01-24 16:00:00,40046.7,40190.0,39909.3,40186.0,9893.662,0.003478,NaN
9425,2024-01-24 17:00:00,40186.0,40208.4,40036.2,40131.0,8311.033,-0.001369,NaN
9426,2024-01-24 18:00:00,40131.0,40149.5,39602.0,39757.9,18861.020,-0.009297,NaN
9427,2024-01-24 19:00:00,39757.9,39849.2,39632.0,39797.4,6223.776,0.000994,NaN
9428,2024-01-24 20:00:00,39797.4,40000.0,39510.0,39548.0,14906.880,-0.006267,0.004521
9429,2024-01-24 21:00:00,39547.9,39788.1,39493.3,39788.1,7699.781,0.006071,0.004204
9430,2024-01-24 22:00:00,39788.1,39897.9,39747.8,39872.5,4210.545,0.002121,0.004230
9431,2024-01-24 23:00:00,39872.6,40171.3,39836.5,40078.7,10391.255,0.005171,0.004268

In [33]:
#이러한 방식으로 df에 새로운 컬럼을 추가하여 미래시점에 활용할 수 있습니다.
#데이터 연결이후 volatiltiy 재계산
df=calculate_volatility(df);df

,time,Open,High,Low,Close,Volume,returns,volatility
0,2023-01-01 00:00:00,16537.5,16540.9,16504.0,16527.0,5381.399,NaN,NaN
1,2023-01-01 01:00:00,16527.1,16554.3,16524.1,16550.4,3210.826,0.001416,NaN
2,2023-01-01 02:00:00,16550.5,16557.1,16534.8,16542.4,2399.668,-0.000483,NaN
3,2023-01-01 03:00:00,16542.5,16542.5,16515.0,16529.3,3214.480,-0.000792,NaN
4,2023-01-01 04:00:00,16529.2,16530.4,16508.8,16517.8,3150.954,-0.000696,NaN
...,...,...,...,...,...,...,...,...
9427,2024-01-24 19:00:00,39757.9,39849.2,39632.0,39797.4,6223.776,0.000994,0.011056
9428,2024-01-24 20:00:00,39797.4,40000.0,39510.0,39548.0,14906.880,-0.006267,0.004521
9429,2024-01-24 21:00:00,39547.9,39788.1,39493.3,39788.1,7699.781,0.006071,0.004204
9430,2024-01-24 22:00:00,39788.1,39897.9,39747.8,39872.5,4210.545,0.002121,0.004230
9431,2024-01-24 23:00:00,39872.6,40171.3,39836.5,40078.7,10391.255,0.005171,0.004268

In [1]:
pip freeze > requirements.txt

Note: you may need to restart the kernel to use updated packages.